<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>test task4</title>
</head>
<body>
  <%- include('./partials/head') %>
  <main>
    <%- include('./partials/about') %>
    <%- include('./partials/slider') %>
    <%- include('./partials/help') %>
    <%- include('./partials/donate') %>
  </main>
  <%- include('./partials/footer') %>
</body>
</html>